<div class="modal-overlay" *ngIf="visible">
  <div class="modal-content" [formGroup]="questionForm">
    <h2>{{ question ? 'Editar pregunta' : 'Crear nueva pregunta' }}</h2>

    <label>Texto de la pregunta:</label>
    <input formControlName="textoPregunta" />
    <div *ngIf="questionForm.get('textoPregunta')?.invalid && questionForm.get('textoPregunta')?.touched" class="error">
      La pregunta es obligatoria
    </div>

    <h3>Respuestas:</h3>
    <ul formArrayName="answers">
      <li *ngFor="let answer of answers.controls; let i = index" [formGroupName]="i">
        <input formControlName="answerText" placeholder="Texto de respuesta" />
        <label>
          Correcta:
          <input type="checkbox" formControlName="esCorrecta" />
        </label>
        
        <button type="button" (click)="removeAnswer(i)" [disabled]="answers.length <= 3">Eliminar</button>

        <div *ngIf="answer.get('answerText')?.invalid && answer.get('answerText')?.touched" class="error">
          La respuesta no puede estar vacía
        </div>
      </li>
    </ul>
    

    <div *ngIf="!hasCorrectAnswer() && answers.length > 0" class="error">
      Debe marcarse una única respuesta como correcta
    </div>

    <div *ngIf="answers.length < 3" class="error">
      Debe haber exactamente 3 respuestas
    </div>

    <button type="button" (click)="addAnswer()" [disabled]="answers.length >= 3">
      Agregar respuesta
    </button>

    <div class="modal-actions">
      <button type="button" (click)="onSave()" [disabled]="questionForm.invalid">Guardar</button>
      <button type="button" (click)="onClose()">Cancelar</button>
    </div>
  </div>
</div>
