<nav class="sidebar">
  <ul *ngIf="userRole === 'USER'">
    <li><a routerLink="/user-dashboard">Home</a></li>
    <!-- <li><a routerLink="/jugar">Jugar</a></li> -->
    <li><a routerLink="/estadisticas">Estadísticas</a></li>
    <li><a routerLink="/ranking">Ranking</a></li>
    <li><a routerLink="edit-user">Profile</a></li>
    <li><a (click)="logout()">Logout</a></li>
  </ul>

  <ul *ngIf="userRole === 'ADMIN'">
    <li><a routerLink="/admin">Home</a></li>
    <li><a routerLink="users">Usuarios</a></li>
    <li><a routerLink="questions">Preguntas</a></li>
    <li><a routerLink="/estadisticas">Estadísticas generales</a></li>
    <!-- <li><a routerLink="/ranking">Ranking</a></li> -->
    <li><a routerLink="edit-user">Profile</a></li>
    <li><a (click)="logout()">Logout</a></li>
  </ul>
</nav>