<div class="layout-container">
  <!-- Header con menú horizontal -->
  <header>
    <div class="header-content">
      <h1>Quizzapp - Harry</h1>
    <div *ngIf="welcomeMessage">
      <p>{{ welcomeMessage }}</p>
    </div>
      <nav class="main-nav">
        <app-sidebar></app-sidebar>
      </nav>
    </div>
  </header>

 
  <section   *ngIf="router.url === '/user-dashboard' || router.url === '/admin'"
  class="main-actions">
    <button routerLink="/juego" class="action-btn">🎮 Comenzar juego</button>
    <!-- el ranking debe aparecer renderizado en layout como una tabla al lado o encima del boton jugar sin pulsar ningun boton -->
     <app-ranking></app-ranking>
     

    


  </section>

  <!-- Contenido principal dinámico -->
  <main>
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer>
    <small>© 2025 - Mi App</small>
  </footer>
</div>
