<div class="fixed-modal">
    <div class="modal-content">
      <h4>Editar Usuario</h4>
  
      <label class="form-field">
        Username:
        <input [(ngModel)]="user.username" />
      </label>
  
      <label class="form-field">
        Email:
        <input [(ngModel)]="user.email" />
      </label>
  
      <label class="form-field">
        Rol:
        <select [(ngModel)]="user.roles">
          <option value="USER">USER</option>
          <option value="ADMIN">ADMIN</option>
        </select>
      </label>
  
      <label class="form-field">
        Activo:
        <input type="checkbox" [(ngModel)]="user.enabled" />
      </label>
  
      <div class="modal-actions">
        <button (click)="onSave()">Guardar</button>
        <button (click)="onClose()">Cancelar</button>
      </div>
    </div>
  </div>
  