

<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form (ngSubmit)="onLogin()">
      <label for="username">Usuario:</label>
      <input type="text" id="username" [(ngModel)]="credentials.username" name="username" required>
  
      <label for="password">Contraseña:</label>
      <input type="password" id="password" [(ngModel)]="credentials.password" name="password" required>
  
      <button type="submit">Ingresar</button>
    </form>
  
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </div>
  
